.banner {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner div {
    max-width: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    bottom: 160px;
}

.banner div h1 {
    letter-spacing: 3px;
    font-size: 50px;
    text-shadow: 0 -1px 4px rgba(255, 255, 255, 0.9),
        0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9);
}

.banner div p {
    color: rgb(255, 202, 69);
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(255, 255, 255, 0.9),
        0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9), 0 -1px 40px rgba(0, 0, 0, 0.9);
}

/*-------------------------------------------------------------------------------------------------*/

.container_principal {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/*-------------------------------------------------------------------------------------------------*/

.menu_e_botao {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}

.menu_e_botao h2 {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    /* Adicionado para centralizar o texto */
    flex-grow: 1;
    /* Adicionado para ocupar o espaço restante e empurrar o botão para a direita */
    margin-left: 225px;
    }

.menu_e_botao button {
    font-size: 30px;
    margin-left: 10px;
}

/*-------------------------------------------------------------------------------------------------*/

.secao_cards {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.secao_cards div {
    display: flex;
    justify-content: space-between;
}

.secao_cards div h2 {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
    margin-left: 125px;
}

/*-------------------------------------------------------------------------------------------------*/

.darkMode {
    background-color: black !important;
    color: white !important;
}

.darkModeButtonContainer

.darkModeButton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/*Abaixo, o que acontecerá com o botão quando darkMode estiver ativo*/
.darkMode button {
    color: #000000 !important;
    background-color: whitesmoke !important;
}

/*-------------------------------------------------------------------------------------------------*/

.container_cards {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.darkMode .container_cards {
    background-color: #000000;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

/*-------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {
    .banner div p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .banner div {
        max-width: 60%;
    }

    .banner div h1 {
        font-size: 36px;
    }

    .banner div p {
        font-size: 26px;
    }
}

@media (max-width: 550px) {

    .banner div h1 {
        font-size: 26px;
    }

    .banner div p {
        font-size: 18px;
    }
}